@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid; */
}

body {
  height: 100vh;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
.side-bar { 
  background-size: auto 600px;
  background-repeat: no-repeat;
  color: #adbeff;

}
hr{
  height: 2px;
}

@media (max-width: 768px){
  .container{
    background-size: 100vw auto;
  }
  .side-bar {
    background-size: auto 600px;
    background-repeat: no-repeat;
    color: #adbeff;
  
  }
} 