@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid; */
}

body {
  min-height: 100vh;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
.side-bar { 
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-size: auto 600px;
  background-repeat: no-repeat;
  color: #adbeff;

}
hr{
  height: 2px;
}



@media (max-width: 768px){
  body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    width: 100vw;   
    background: url(../assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100vw 200px;
  }
  .container{
    width: 100vw;
    background-size:cover 600px;
    background-position: top;
    padding: 0;
    position: relative;
  }
  .side-bar {
  background:none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100vw;

  }
  .step-tags{
    display: none;
  }
} 